In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df = pd.read_csv('Bank_Analyze.csv')

In [4]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
df.drop(['CustomerId', 'Surname', 'RowNumber'], axis=1,inplace=True)

In [6]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [7]:
X = df.iloc[:, :-1].values
y = df.iloc[:, -1].values

In [8]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [9]:
lb = LabelEncoder()
X[:,1] = lb.fit_transform(X[:,1])

In [10]:
X[:,2] = lb.fit_transform(X[:,2])

In [11]:
ohe = OneHotEncoder(categorical_features=[1,2])
X = ohe.fit_transform(X).toarray()

/home/danyshman/miniconda3/envs/datascience/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/home/danyshman/miniconda3/envs/datascience/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:451: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [12]:
X = X[:, [1,2,4,5,6,7,8,9,10,11,12]]

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [15]:
from sklearn.preprocessing import StandardScaler

In [16]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [50]:
import keras
from keras.models import Sequential
from keras.layers import Dense

In [60]:
classifier = Sequential()

In [61]:
classifier.add(Dense(units=6, kernel_initializer='uniform', activation='relu', input_dim=11))

In [62]:
classifier.add(Dense(units=6, kernel_initializer='uniform', activation='relu'))

In [63]:
classifier.add(Dense(units=1, kernel_initializer='uniform', activation='sigmoid'))

In [64]:
classifier.compile(optimizer='adam', loss='binary_crossentropy',metrics=['accuracy'])

In [ ]:
classifier.fit(X_train,y_train, batch_size=10, nb_epoch=100)

/home/danyshman/miniconda3/envs/datascience/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  """Entry point for launching an IPython kernel.

Epoch 1/100
8000/8000 [==============================] - 35s 4ms/step - loss: 0.4766 - acc: 0.7956
Epoch 2/100
8000/8000 [==============================] - 3s 337us/step - loss: 0.4299 - acc: 0.7960
Epoch 3/100
8000/8000 [==============================] - 3s 338us/step - loss: 0.4263 - acc: 0.7960
Epoch 4/100
8000/8000 [==============================] - 3s 335us/step - loss: 0.4222 - acc: 0.8080
Epoch 5/100
8000/8000 [==============================] - 3s 331us/step - loss: 0.4184 - acc: 0.8222
Epoch 6/100
8000/8000 [==============================] - 3s 335us/step - loss: 0.4167 - acc: 0.8254
Epoch 7/100
8000/8000 [==============================] - 3s 332us/step - loss: 0.4147 - acc: 0.8317
Epoch 8/100
8000/8000 [==============================] - 3s 329us/step - loss: 0.4131 - acc: 0.8326
Epoch 9/100
8000/8000 [==============================] - 3s 331us/step - loss: 0.4121 - acc: 0.8337
Epoch 10/100
8000/8000 [==============================] - 3s 331us/step - loss: 0.4107 - acc: 0.8322
Epoch 11/100
8000/8000 [==============================] - 3s 331us/step - loss: 0.4100 - acc: 0.8342
Epoch 12/100
8000/8000 [==============================] - 3s 330us/step - loss: 0.4093 - acc: 0.8337
Epoch 13/100
8000/8000 [==============================] - 3s 333us/step - loss: 0.4081 - acc: 0.8334
Epoch 14/100
8000/8000 [==============================] - 3s 331us/step - loss: 0.4081 - acc: 0.8331
Epoch 15/100
8000/8000 [==============================] - 3s 328us/step - loss: 0.4074 - acc: 0.8339
Epoch 16/100
8000/8000 [==============================] - 3s 330us/step - loss: 0.4064 - acc: 0.8360
Epoch 17/100
8000/8000 [==============================] - 3s 333us/step - loss: 0.4059 - acc: 0.8350
Epoch 18/100
  10/8000 [..............................] - ETA: 2s - loss: 0.4344 - acc: 0.8000